@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div style="padding:50px; text-align:center; margin:auto">
    <h1 class="text-danger">Error</h1>
    <h2 class="text-danger">@Model.Discription</h2>
</div>


<div style="padding:50px; margin:auto">
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary btn-lg">Browse Books</a>
</div>


