@model Genre

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Genre</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="Name" class="control-label"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
    </dl>
</div>
<div style="margin-top:10px">
    <a asp-controller="Genre" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="Genre" asp-action="Index">Back to List</a>
</div>
